In [13]:
import pandas as pd


url = "https://raw.githubusercontent.com/datasciencedojo/datasets/refs/heads/master/titanic.csv"

# Cargar directamente desde la URL
df = pd.read_csv(url)
df["Sex"] = df["Sex"].apply(lambda x: 1 if x == "female" else 0)

# Seleccionar columnas
X = df[["Age", "Sex", "Pclass"]]
y = df["Survived"]

# Mostrar las primeras filas
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S

In [14]:
from sklearn.model_selection import train_test_split

train_X, test_X, train_Y, test_Y = train_test_split(X, y, test_size = 0.2,random_state = 15)

In [16]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators= 1000, random_state=25)
rf.fit(train_X, train_Y)
rf.score(test_X, test_Y)

0.8268156424581006

In [17]:
import pickle

with open("modelo_random_clasificacion.pkl", "wb") as f:
    pickle.dump(rf, f)

In [19]:
with open ("modelo_random_clasificacion.pkl", "rb") as f:
    rf_2 = pickle.load(f)

rf_2.score(test_X, test_Y)

0.8268156424581006

In [22]:
age = [4,29,65]
sex = [1,0,0]
clase = [3,1,2]

df_nuevo =pd.DataFrame({
    "Age": age,
    "Sex": sex,
    "Pclass": clase
})

rf.predict(df_nuevo)

array([1, 0, 0])

In [25]:
age = 4
sex = 1
clase = 3
rf.predict([[age,sex,clase]])

c:\Users\jorge\miniconda3\envs\proyecto_env\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([1])